@using Models
@using ProftaakApplicatieDiabetes.ViewModels
@model ProftaakApplicatieDiabetes.ViewModels.MessageViewModel
@{
    ViewData["Title"] = "Message";
}

@if (Model.CoupleId == 0)
{
    <h2>You are not linked to a doctor</h2>
}

else if (!Model.Messages.Any())
{
    <h2>There are no messages if this is incorrect reload the page</h2>
}


<h2>Message</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form asp-action="SendMessage">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input data-val="true" id="CoupleId" name="CoupleId" type="hidden" value="@Model.CoupleId">
                                <input data-val="true" id="OtherUserId" name="OtherUserId" type="hidden" value="@Model.OtherUserId">
                                <label>
                                    Titel
                                </label>
                                <div class="input-group">
                                    <input asp-for="Title" class="form-control" required="" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Content" class="control-label">Inhoud</label>
                                <input asp-for="Content" class="form-control" style="width:700px" required="" />
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="control-group">
                                <label class="control-label" for="button1id"></label>
                                <div class="form-group">
                                    <input type="submit" id="SendMessage" value="Send Message" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
@foreach (MessageModel message in Model.Messages)
{
    @*<div class="card">
            <div class="card-body">
                <h5 class="card-title"><B>@message.Title</B></h5>
                <h6 class="card-subtitle mb-2 text-muted">@message.SenderName</h6>
                <p class="card-text">@message.Content</p>
                <h6 class="card-subtitle mb-2 text-muted">@message.DateOfX</h6>

            </div>
        </div>*@
        <div class="chat_list">
            <ul class="list-group">
                <li class="list-group-item">
                    <small class="pull-right text-muted">@message.DateOfX</small>
                    <div>
                        <small>@message.SenderName</small>
                        <p><b>@message.Title</b></p>
                        <p class="list-group-item-text">
                            @message.Content
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    <hr />
}
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
