@using Models
@using ProftaakApplicatieDiabetes.ViewModels
@model ProftaakApplicatieDiabetes.ViewModels.MessageViewModel
@{
    ViewData["Title"] = "Message";
}
<link href="~/css/site.css" rel="stylesheet" />
@inject ChatManager ChatManager
<div class="row top-space">
    <div class="col-lg-12">
        
        <ul id="messages">
            @foreach (var item in ChatManager.Messages)
            {
                //Configure this to your personal taste
                <li>@item.SocketId said: @item.Content at: @item.DateOfX</li>
            }
        </ul>
        <input class="form-control" id="message-content"/>
        <input class="form-control" id="message-title"/>
        @foreach (MessageModel message in ChatManager.Messages)
        {
            <b>@message.Title</b>
            <p>@message.Content </p>
            <p>@message.DateOfX</p>
            <hr />
        }
    </div>
</div>

<a asp-controller="Home" asp-action="Index">Back to Home</a>
@section Scripts {
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}
