@model ProftaakApplicatieDiabetes.Models.UserViewModel

@{
    ViewData["Title"] = "SettingsMenu";
}

<div class="row">
    <!-- side nav-->
    <aside class="col-sm-6 col-md-3 card  my-4" style="height:100%">
        <h3>Settings</h3>
        <hr />
        <ul>
            <li>
                <a href="/User/SettingsMenu" class="active">
                    <span class="fa fa-gear"></span>
                    Gebruikers info
                </a>
            </li>
            @if (User.IsInRole("CareRecipient"))
            {
                <li>
                    <a href="/User/InfoSharing" class="active">
                        <span class="fa fa-gear"></span>
                        Data delen
                    </a>
                </li>
                <li>
                    <a href="/User/DeleteAllow" class="active">
                        <span class="fa fa-gear"></span>
                        Data verwijderen toestaan
                    </a>
                </li>
                <li>
                    <a href="/User/UpdateUserInfo">
                        <span class="fa fa-wrench"></span>
                        Gebruiker aanpassen
                    </a>
                </li>
            }
        </ul>
    </aside>

    <h3>Uw informatie:</h3>
    <div class="col-sm-8 col-md-6 card  my-5">
        <div>Voornaam: @Model.FirstName</div>
        <div>Achternaam: @Model.LastName</div>
        <div>Gewicht: @Model.Weight</div>
        <div>Email: @Model.EmailAddress</div>
        <div>Rol: @Model.Type</div>
        @if (User.IsInRole("CareRecipient"))
        {
            @if (Model.ShareInfo == true)
            {
                <div><b>Uw informatie wordt gedeeld met uw doktor</b></div>
            }
            @if (Model.ShareInfo == false)
            {
                <div><b>Uw informatie wordt NIET gedeeld met uw doktor</b></div>
            }
            @if (Model.DeleteAllow == true)
            {
                <div><b>De administrator heeft toestemming om uw informatie te verwijderen</b></div>
            }
            @if (Model.DeleteAllow == false)
            {
                <div><b>De administrator heeft GEEN toestemming om uw informatie te verwijderen</b></div>
            }
        }
    </div>

</div>
