@using Models
@model ProftaakApplicatieDiabetes.Models.UserViewModel

@{
    ViewData["Title"] = "UserOverview";
}

<h2>Gebruikersoverzicht</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Voornaam
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Wachtwoord veranderen
            </th>
            <th>
                Gegevens verwijderen
            </th>
    </thead>
    <tbody>
        @foreach (IUser item in Model.Users)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Verander Wachtwoord", "ChangePassword", item)
            </td>
            @if (item.Status)
            {
                <td>
                    @Html.ActionLink("Blokkeren", "DisableUser", item)
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Deblokkeren", "DisableUser", item)
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
