@model CalcViewModel
@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>

@Model.CalculatorResults.UserBSN
<br />
@Model.CalculatorResults.Weight
<br />
@Model.CalculatorResults.TotalCarbs
<br />
@Model.CalculatorResults.CurrentBloodsugar
<br />
@Model.CalculatorResults.TargetBloodSugar